<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Luxelle.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      
      <!-- Enable compression -->
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
      
      <!-- Security headers -->
      <httpProtocol>
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="X-XSS-Protection" value="1; mode=block" />
        </customHeaders>
      </httpProtocol>
      
      <!-- CORS handling -->
      <cors enabled="true" />
      
      <!-- Request filtering -->
      <security>
        <requestFiltering>
          <fileExtensions>
            <add fileExtension=".json" allowed="true" />
            <add fileExtension=".xml" allowed="true" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
